<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Editar</th>
      <!--<th>Deletar</th>-->
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user', collection: @users %>
  </tbody>
</table>
