<table class="table">
  <thead>
    <tr>
      <th><%= t('texts.user.name') %></th>
      <th><%= t('texts.user.edit') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user', collection: @users %>
  </tbody>
</table>
<%= link_to t('texts.user.new'), new_user_path, class: 'btn pull-right btn-primary' %>
