<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th><span class="glyphicon glyphicon-list-alt"></span></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'survey', collection: @surveys %>
  </tbody>
</table>
